.swip_list {
	width: 100%;
	height: 440upx;
}
.swip_item_img {
	width: 100%;
	height: 440upx;
}

/* 热门超英 V */
.super-hot {
	margin-top: 20upx;
	padding: 20upx 20upx;
}

.hot-title-wapper {
	display: flex;
	flex-direction: row;
}

.hot-ico {
	width: 30upx;
	height: 30upx;
	
	margin-top: 15upx;
}

.hot-title {
	font-size: 20px;
	font-weight: 20;
	
	margin-left: 20upx;
}

.hot {
	width: 100%;
	white-space: nowrap;
}

.single-positer {
	display: inline-block;
	margin-left: 20upx;
}
.positer-wapper {
	display: flex;
	flex-direction: column;
}
.positer {
	width: 200upx;
	height: 270upx;
}
.movie-name {
	width: 200upx;
	margin-top: 10upx;
	
	font-size: 14px;
	font-weight: bold;
	
	/* 超出省略 */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.movie-score-wapper {
	display: flex;
	flex-direction: row;
}
.star-ico {
	height: 20upx;
	width: 20upx;
	margin-top: 6upx;
}
.movie-score {
	font-size: 22upx;
	color: grey;
	margin-left: 8upx;
}
/* 热门超英 ^ */